/*CSS by Arik Christensen */
/* Color Pallete 
beige: #e3e7d3ff;
silver: #bdc2bfff;
grey-olive: #989c94ff;
charcoal-brown: #25291cff;
vanilla-custard: #e6e49fff;
*/

/* GLOBAL (base)  MOBILE FIRST*/

body {
    background-color: #989894ff;
}